asgiref
certifi
charset-normalizer
contextlib2
Django
django-cors-headers
et-xmlfile
idna
mysqlclient
numpy
openpyxl
pandas
pycryptodome
pypinyin
python-dateutil
pytz
PyYAML
requests
schema
six
cryptography
sqlparse
typing_extensions
tzdata
urllib3
uuid
uwsgi
xmltodict
PyJWT
mkdocs
mkdocs-material
pymdown-extensions
django-redis
celery
